parameters:
	ignoreErrors:
		-
			message: '#^Call to function property_exists\(\) with \$this\(SebastianSulinski\\LaravelForgeSdk\\Data\\DeploymentScriptResource\) and ''links'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 3
			path: src/Data/DeploymentScriptResource.php

		-
			message: '#^Call to function property_exists\(\) with \$this\(SebastianSulinski\\LaravelForgeSdk\\Data\\Server\) and ''links'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 3
			path: src/Data/Server.php

		-
			message: '#^Call to function property_exists\(\) with \$this\(SebastianSulinski\\LaravelForgeSdk\\Data\\Server\) and ''relationships'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 3
			path: src/Data/Server.php

		-
			message: '#^Call to function property_exists\(\) with \$this\(SebastianSulinski\\LaravelForgeSdk\\Data\\Site\) and ''links'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 3
			path: src/Data/Site.php

		-
			message: '#^Call to function property_exists\(\) with \$this\(SebastianSulinski\\LaravelForgeSdk\\Data\\Site\) and ''relationships'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 3
			path: src/Data/Site.php
